{
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

.sketch{
  display:block;
  position:absolute;
  height: 100%;
  width: 100%;
}

.content{
  display:block;
  position:absolute;
  height: 100%;
  width: 100%;
}


.header{
  display:inline-block;
  position:relative;
  width:100%;
  text-align: center;
  margin-top:100px;
  font-size:3em;
  color: white;
  padding: 0;
  line-height: 0;
  white-space: nowrap;
}

.subHeader{
  display:block;
  width:inherit;
  right:30%;
  position:relative;
  text-align: right;
  font-size:20px;
  padding: 0;
  line-height: 0;
}

.para{
  display:inline-block;
  position:relative;
  color: white;
  width:100%;
  padding: 50px 0px;
  text-align: center;
  font-size:1em;
}

.launchButton{
  display:block;
  position:relative;
  padding:20px 0px;
  text-align: center;
  width:100%;
  top:0%;
}

.objects{
  display:block;
  top:95px;
  height:calc(100% - 95px);
  width:100%;
}

.header2{
  position:relative;
  font-size:1.5em;
  top:-5px;
  left:20px;
  white-space: nowrap;
  color: white;
}

.inbox{
  display: inline-block;
  position: relative;
  text-align: center;
  margin:auto;
  width: 100%;
  height:50%;
  top:10%;
}

.reviewBox{
  position: relative;
  text-align: center;
  margin:auto;
  width: 100%;
  height:50%;
  top:10%;
}

.button{
  position: relative;
  border:none;
  cursor:pointer;
  text-align: center;
  font-size: 1em;
  padding:15px 50px;
  background-color: #4CAF50;
  color: white;
}

.buttonIcon{
  border:none;
  cursor:pointer;
  text-align: center;
  font-size: 4em;
  padding:15px 25px;
  background-color: #4CAF50;
}

.button:hover{
  background-color: black;
}

.inbox textarea{
    resize: none;
    outline: none;
    overflow: auto;
    width: calc(100vw - 30%);
    height:inherit;
    font-family: Tahoma, sans-serif;
    background:transparent;
    border:none;
    border-radius: 5px;
}

.reviewBox textarea{
  margin: 10px;
  position: relative;
  resize: none;
  outline: none;
  overflow: auto;
  width: calc(50vw - 10%);
  height:inherit;
  font-family: Tahoma, sans-serif;
  background:white;
  border:none;
  border-radius: 5px;
}

.nextButton{
  display:inline-block;
  position:relative:;
  text-align: center;
  width:100%;
  }

.recButton{
  display:inline-block;
  position:relative;
  text-align: center;
  width:100%;
  top:60%;
}


.fade-in{
  animation: fade-in 0.7s;
}

.fade-out{
  animation: fade-out 0.7s;
}


@keyframes fade-in{
  0%{
    opacity: 0;
    user-select: none;
  }

  100%{
    opacity: 1;
    user-select: auto;
  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
    user-select: none;
  }

  100%{
    opacity: 0;
    user-select: none;
  }
}
